<mat-toolbar color="primary">
 <span>
 <a routerLink="" mat-button> <mat-icon>local_movies</mat-icon> Angular Movies</a>
 </span>

 <span>
  <a routerLink="movies/filter" mat-button> <mat-icon>search</mat-icon>Search Movies</a>
  </span>

<div><a mat-button routerLink="genres">Genres</a></div>

<div><a mat-button routerLink="actors">Actor</a></div>
<div><a mat-button routerLink="movietheaters">Movie Theater</a></div>
<div><a mat-button routerLink="movies/create">Create Movie</a></div>


</mat-toolbar>
