<!-- <h1>App Component</h1>
<p>angular-movies app is running</p> -->

<!-- <input type="file" style="display:none;" #uploader/>
<button (click)="uploader.click()">Upload File</button> -->
<app-menu></app-menu>
<!-- <app-rating (onRating)="handleRating($event)"></app-rating> -->

<!-- <input type="text" (input)="title= $event.target.value" /> -->
<app-lifecycletest [title]="title"></app-lifecycletest>
<!-- <app-lifecycletest [title]="'Angular'"></app-lifecycletest> -->


<!-- <div class="container">
<h1>In Theater Movies List</h1>
<app-movies-list [movies]="moviesInTheaters"></app-movies-list>

<h1>Future Release</h1>
<app-movies-list [movies]="moviesFutureReleases" ></app-movies-list>
</div> -->
